# Files
Dockerfile
.dockerignore
docker-compose.yml
.DS_Store
.editorconfig
.env
.env.example
.gitignore
npm-debug.log*
README.md
yarn-debug.log*
yarn-error.log*

# Directories
build/
coverage/
.git/
.idea/
node_modules/
